server {

  listen ${NGINX_PORT};

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html;
  }

  location /wordTrackerAPI {
      proxy_pass ${NGINX_WORD_TRACKER_API};
  }

  location /dictionaryAPI {
      proxy_pass ${NGINX_DICTIONARY_API};
  }
  error_page   500 502 503 504  /50x.html;

  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}